@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #fff, #A6b2ec);
  overflow: hidden;
  font-family: 'Nunito Sans', sans-serif;
}